* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}
body{
	font-size: 20px;
	font-family: Georgia, serif;
	line-height: 1.618em;
}
p {
	margin-bottom: 1.5em;
}
h1 {
	font-size: 1em;
}

h2 {
    margin: .5em 0;
    padding: 0 0 .5em;
    font-size: 1.4em;
}

h3 {
	font-variant: small-caps;
}

#link {
	border-bottom: solid 1px #000;
}

a {
	text-decoration: none;
	color: #000;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
									/*HEADER*/
header {
    font-size: 1.2em;
    padding-bottom: 1.4em;
    margin: .8em 0;
}

header h1 {
	float: left;
	margin-left: 1em;
	font-variant: small-caps;
	font-weight: normal;
}

header nav {
	float: right;
}

header nav a {
	display: inline-block;
	text-decoration: none;
	list-style-type: none; 
	padding-right: 2em;
	font-size: 1em;
	font-variant: small-caps;
}
header a:hover {
	text-decoration: underline;
}

								/*MAIN */


#project {
	background-color: #00BCD4;
	padding: 3em;
	width: 100%;
	height: 500px;
}

#project h2 {
    margin: -.5em 0 .5em 0;
    padding: 0 0 .5em;
    font-size: 1.4em;
}

#project-left {
	width: 50%;
}

#project-pic{
	float: left;
	width: 530px;
	border: 2px #000 solid;
	border-radius: 15px;
}

#button {
	text-align: center;
	padding: 10px 10px;
	border: 2px #000 solid;
	border-radius: 15px;
	background-color: #FFF;
	width: 20%;
}

#project-right {
	width: 50%;
	margin: 1em auto;
	padding-left: 4em;
	float: right;
}

#part-two {
	background-color: #00BCD4;
	padding: 0 3em 2em;
}


			/*MEDIA QUERIES*/


@media screen and (max-width: 1130px) {
	#project-left {
		width: 100%;
	}
	#project-pic{
		float: none;
		width: 100%;
		display: block;
		margin: auto;
	}
	#project-right {
		float: none;
		width: 100%;
		display: block;
	}
	#part-two {
		clear: both;
	}

}




