body {
	background-color: #008BA0;
	font-family: Verdana;
	color: #445566;
}

header {
	background-color: #DEF2F3;
}

h1 {
	text-align: center;
	padding: 20px;
	font-size: 3em;
	font-family: Georgia, Times, Serif;
  	font-weight: normal;
	margin: 0;
}

h3 {
	margin: 0px;
}

nav {
	background-color: #00C0D5;
}

nav li a {
	color: white;
}

ul {
	text-align: center;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: auto;
	padding: 20px;
}

footer li {
	display: inline-block;
	margin: auto;
	padding: 20px;
}

aside {
	float: left;
	width: 200px;
	border: solid 2px #000;
	margin-left: 30px;
	margin-top: 20px;
	padding: 5px;
}

aside ul {
	text-align: left;
	margin: 20px;
}

article {
	float:right;
	width: 650px;
	margin-right: 40px;
	line-height: 20px;
}

img {
	width: 200px;
}

footer {
	clear: both;
	text-align: center;
	display: block;
	background-color: #D3D3D3;
}

#wrapper {
	width: 960px;
	margin: auto;
	background-color: #DEF2F3;
}
}