body {
	background-color: #008BA0;
}

header {
	background-color: #DEF2F3;
}

h1 {
	text-align: center;
	padding: 20px;
	font-size: 36px;
	margin: 0;
}

h3 {
	padding: 10px;
	text-align: center;
}

nav {
	background-color: #00C0D5;
	color: white;
}

ul {
	text-align: center;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: auto;
	padding: 20px;
}

footer li {
	display: inline-block;
	margin: auto;
	padding: 20px;
}

main {
	background-color: #DEF2F3;
}

aside {
	float: left;
	width: 300px;
	border: solid 2px #000;
	margin: 10px;
}

aside ul {
	text-align: left;
}

article {
	float:left;
	width: 550px;
	margin-left: 20px;
}

img {
	float: left;
	width: 290px;
	margin: auto;
}

footer {
	clear: both;
	text-align: center;
	display: block;
	background-color: #D3D3D3;
}

#wrapper {
	width: 960px;
	margin: auto;
}