@import url(http://fonts.googleapis.com/css?family=Brawler);


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 20px;
	font-family: "Brawler", serif;
	border: solid #000 3px;
}

header {
	background-color: #D1D1D1;
	/*border: solid #000 3px;*/
	width: 100%;
}

h1 {
	margin: .7em 0;
	padding: .5em 0;
	text-align: left;
	font-size: 1.5em;
	float: left;
}

h2 {
	margin: 0 0 2em 0;
	text-align: left;
	font-size: 1.5em;
	/*text-decoration: underline;*/
	/*border-bottom: solid 4px #000;*/ 
	/*how do i do this to just underline the word? */

}

img {
	width: 100%;

}



hr {
	height: 3px;
	color: #000;
	background-color: #000;
	margin-top: 1em

}
a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

nav {
	float: right;
	font-size:1.25em;
	padding: 25px;
	/*border: solid #000 3px;*/
	width: 40%;
	margin-top: .7em;
	
}

ul {
	list-style-type: none;
	float: right;

}

li {
	float: left;
	padding: 0 1em;
	margin: 0;

}

p {
	line-height: 1.5em;
	margin: auto;
	padding: 2em;
}

footer {
	text-align: center;
	background-color: #D1D1D1;
	font-size: 1.25em;
	margin-top: 2em;
	padding: 15px;
}




    /*   Header ID's and classes*/
#wordmark {
	float: left;
	width: 8%;
	margin: .3em;
}

#h1 {
	width: 48%;
}

#wm {
	width: 80%;
	float: left;
}


/*---------------------------------*/

.sectionwrap1 {
	background-color: #D1D1D1;
	/*background: url("https://raw.githubusercontent.com/sarah-ga/sarah-ga.github.io/master/livelectures/week4/assets/shapes.png") no-repeat center center fixed;*/
	background-size:cover;
	padding:2em 0;
	width: 100%;	
}

.sectionwrap2 {
	background-color: #FFF;
	/*background: url("https://raw.githubusercontent.com/sarah-ga/sarah-ga.github.io/master/livelectures/week4/assets/shapes.png") no-repeat center center fixed;*/
	background-size:cover;
	padding:2em 0;
	width: 100%;	
}

.textwrap{
	width:1270px;
	margin:auto;
	padding:2em 0;
}



.clearfix:after {     
	visibility: hidden;     
	display: block;     
	font-size: 0;     
	content: " ";     
	clear: both;     
	height: 0; 
} 

.heading {
	width: 30%;
	float: left;
	display: inline;
	padding-top: 40px;
}



}