body {
	background-color: #008BA0;
	font-family: Verdana;
	color: #445566;
	font-size: 16px;
}

header {
	background-color: #DEF2F3;
}

h1 {
	text-align: center;
	padding: 20px;
	font-size: 3em;
	font-family: Georgia, Times, Serif;
  	font-weight: normal;
	margin: 0;
}

h2 {
	margin-top: 1.3em;
}

h3 {
	margin-top: 1.5em;
}

nav {
	background-color: #00C0D5;
}

nav li a {
	color: white;
}

ul {
	text-align: center;
	margin: 0;
}

nav li {
	display: inline-block;
	margin: auto;
	padding: 1em;
}

footer li {
	display: inline-block;
	margin: auto;
	padding: 1.5em;
}

aside {
	float: left;
	width: 30%;
	margin-left: 1.5em;
	margin-top: 1.5em;
	padding: .5em;
}

aside ul {
	text-align: left;
	margin: 1.2em;
}

article {
	float:right;
	width: 60%;
	margin-right: 2.2em;
	line-height: 1.5em;
}

img {
	width: 95%;
}

footer {
	clear: both;
	text-align: center;
	display: block;
	background-color: #D3D3D3;
}

#wrapper {
	width: 80%;
	margin: auto;
	background-color: #DEF2F3;
}