@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Courgette);

* {
   	box-sizing: border-box;
   	margin: 0;
   	padding: 0;  	
  }

body{

	color: #000;
	font-family: 'Lora', serif;
	text-align: center;
	line-height: 1.5em;
	font-size: 24px;	
	background-size: 100%; 
}

header{
	padding: .25em 1em;
}

nav {
	font-size: 1em;
	margin: auto;
	padding: .25em .5em;
	display: block;
}

ul {
	list-style-type: none;
	display: inline; 
}

li {
	margin: auto;
	display: inline;
	padding: 0 1em;
	text-align: left;
}

a:hover {
	text-decoration: underline;
	
}
	
h1{
	color: #000;
	font-size: 2.5em;
	font-family: 'Courgette', sans-serif;
	padding: .75em 0 .75em 0;
	line-height: 1.25em;
}

h2{
     padding: 0 ; 
}


h3{
	padding: 1em;
}

h4 {
	padding: 1em;
}

p{	
	font-size: 1em;
	margin: 1em;

}

hr {
	height: .5em;
	color: #E4D2E4;
	background-color: #E4D2E4;
	margin-top: 1em	
}

img{
	width: 500px;
	border: 4px solid #000;
	margin: .8em 0;
}

footer{
 	font-family: 'Lora', serif;
	text-align: center;
	line-height: 1.5em;
	font-size: 1em;
	padding: .25em 0;
	margin-top: 1em;	
}

.clearfix:after {     
	visibility: hidden;     
	display: block;     
	font-size: 0;     
	content: " ";     
	clear: both;     
	height: 0; 
} 

.navigation{
	text-decoration: none;
	color: #000;
	font-size: 1em;
	margin: auto;
  	text-align: center;
}

#slogan{
	font-size: 1em;
	color: #000000;
}


#links{
	background-color: #E4D2E4;
	float: center;
}

.segundo{
  
  background-color: #E4D2E4;
  width: 100%; 
}	


#credit{
	font-size: 1em;
	margin-top: 0;
}

@media screen and (max-width: 768px) {

	img {
		width: 600px;
	}

	li {
		padding: .5em .5em;
	}

	footer {
		font-size: .8em;
	}


}

@media screen and (device-width: 360px) and (device-height: 592px) and (-webkit-device-pixel- ratio: 3)
{

	body {
		font-size:48;
	}
}