

h1 {
	color: #FFF;
}


.morning {
	background-color:#865f86; /* purple */
}

.afternoon {
	background-color:#2c87c8; /* royal blue */
}

.evening {
	background-color:#c7b02f; /* yellowish mustard */
}

.night {
	background-color:#180629; /* dark purple */
}

