@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Courgette);

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    color: #000;
    font-family: 'Lora', serif;
    text-align: center;
    line-height: 1.5em;
    font-size: 24px;
    background-color: #D3EDC8;
}

header{
    padding: .25em 1em;
}

nav {
    font-size: 1em;
    margin: auto;
    padding: .25em .5em;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: auto;
}

li {
    display:inline;
    padding: 0 2%;
}

a {
    color: #000;
}

a:hover {
    text-decoration: underline;

}

h1 {
    color: #000;
    font-size: 2.5em;
    font-family: 'Courgette', sans-serif;
    padding: .75em 0 .75em 0;
    line-height: 1.25em;
}

h2 {
    padding: 0 ;
    line-height: 1.5em;
    font-size: 1.5em;
}

h3 {
    padding: 1em;
}

h4 {
    padding: 1em;
}

p {
    font-size: 1em;
    margin: 1em;

}

hr {
    height: .5em;
    color: #E4D2E4;
    background-color: #E4D2E4;
    margin-top: 1em;
}

img {
    width: 500px;
    border: 4px solid #000;
    margin: 1em .8em;
}

iframe {
    width: 600px;
    height: 450px;
    margin: 1em 1em;
}

footer {
    font-family: 'Lora', serif;
    text-align: center;
    line-height: 1.5em;
    font-size: 1em;
    padding: .25em 0;
    width: 100%;
    background-color: #E4D2E4;
    min-height: 1.5em;
    margin: 0;
}

.emptyfooter {
    height: 1.5em;
}

.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}

.navigation {
    text-decoration: none;
    color: #000;
    font-size: 1em;
    width: 100%;
}

.locationheadings {
    color: #000;
    font-size: 2.5em;
    font-family: 'Courgette', sans-serif;
    padding: .75em 0 0 0;
    line-height: 1.25em;
}

#images {
    margin-top: 1em;
}

#imageheader {
    padding-bottom: 1em;
}

#slogan {
    font-size: 1em;
    color: #000;
}

#links {
    background-color: #E4D2E4;
    float: none;
}

#credit {
    font-size: 1em;
    margin-top: 0;
}

#videos {
    padding-bottom: 2em;
}

#pictures {
    padding-bottom: 0.2em;
}

.wrapper {
	background: url(http://snyderrc12.github.io/babyshower/images/baby_stripes.jpg) center center fixed;
    background-size: 100%;
    margin: 0 auto;
    width: 1060px;
    border: solid 6px #E4D2E4;
}

.picture-page {
	background: url(http://snyderrc12.github.io/babyshower/images/baby_stripes.jpg) center center fixed;
}

@media screen and (max-width: 540px) {
    body {
        font-size: 18px;
    }

    li {
        display:block;
        padding:1%;
    }

    h2 {
    	font-size: 1.1em;
    }

}

@media screen and (max-width: 1060px) {
	.wrapper {
		width: 100%;
		border: none;
	}

	section {
		padding: 20px;
	}

	header, footer {
		margin: 0 0;
	}

@media screen and (max-width: 1015px) {

    img {
        width: 80%;
    }

    h1 {
        padding: .75em;
        font-size: 2em;
    }

}

@media screen and (max-width: 690px) {

    iframe {
        width: 500px;
        height: 300px;
    }
}

@media screen and (max-width: 600px) {

    iframe {
        width: 400px;
        height: 250px;
    }

    footer {
        font-size: .8em;

    }

    nav {
        font-size: 1em;
    }

    a:active {
        text-decoration: underline;

    }
}


@media screen and (max-width: 400px) {

    img {
        width: 80%;
    }

    iframe {
        width: 250px;
        height: 250px;
    }

    h1 {
        font-size: 1.5em;
    }

}