body{

	color: black;
	font-family: "Helvetica", "sans-serif";
	text-align: center;
	font-size: 24px;
	background: url("images/striped_wood.PNG")

}

h1{
	color: #black;
	font-size: 60px;
	font-weight: bold; 
}

p{	
	color:black;
}

img{
	max-width: 100%;
	max-height: 100%;
	border: 5px solid black;
}

#slogan {
	font-style: italic;
	font-size: 24px;
	font-weight: bold;
}

#bold {
	font-weight: bold;
}


ul {
	list-style-type: none;
}
