body{

	color: #000;
	font-family: "Helvetica", "sans-serif";
	text-align: center;
	font-size: 24px;
	padding:0px;
	margin:0px;

}

h1{
	color: #000;
	font-size: 60px;
	font-weight: bold; 
}

p{	
	color: #000;
}

img{
	max-width: 100%;
	max-height: 100%;
	border: 5px solid #000;
	margin: 0;
}

ul {
	list-style-type: none;
	margin:0;
	padding:0;
}

#slogan {
	font-style: italic;
	font-size: 24px;
	font-weight: bold;
}

#bold {
	font-weight: bold;
}

#facetime {
	width: 60%; 
	margin-top: 60px;
    margin-bottom: 60px
}

#kitchen {
	width: 30%; 
	margin-top:60px;
	margin-bottom: 60px;

}
.segundo{
  width: 100%;
  clear: both;
  padding: 20px 0;
  background-color: #FFF;
  color: #000;
  text-align: center;
}	

#h1{
  height: auto;
  padding: 10px;
  background-color: #FFF;
  color: #000;
  text-align: center;
  display: block;
}

#h1spacing{
	margin:10 0 10 0;
}
