@import url(http://fonts.googleapis.com/css?family=Brawler);


* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-size: 20px;
	font-family: "Brawler", serif;
}

header {
	background-color: #E8E8E8;
}

h1 {
	margin: 0 0 2em 0;
	text-align: center;
	text-decoration: underline;
	/*border-bottom: solid 4px #000;*/ 
	/*how do i do this to just underline the word? */
}

img {

}



hr {
	height: 3px;
	color: #000;
	background-color: #000;
	margin-top: 1em

}
a {
	text-decoration: none;
	color: #000;
}

a:hover {
	text-decoration: underline;
}

nav {
	float: right;
	font-size:1.25em;
	margin: 0;
	padding: 25px;
	
}

ul {
	list-style-type: none;

}

li {
	float: left;
	padding: 0 1em;
	margin: 0;

}

p {
	line-height: 1.5em;
	margin: auto;
	padding: 2em;
}

footer {
	text-align: center;
	background-color: #D1D1D1;
	font-size: 1.25em;
	margin-top: 2em;
	padding: 15px;
}

#wordmark {
	float: left;
	width: 50%;
}

#wm {
	width: 10%;
	margin: 1em;
	outline: solid 2px #000;
	float: left;

}

#sh1 {
	width: 40%;
	display: block;
	margin: auto;
	padding: 3em 0 0 0;
}

.images {
	float: left;
	width: 29.33%;
	padding: 2%;
	outline: solid 3px #000;
	background-color: none;
	margin: 0 2% 4%;
}


.clearfix:after {     
	visibility: hidden;     
	display: block;     
	font-size: 0;     
	content: " ";     
	clear: both;     
	height: 0; 
} 

.heading {
	width: 30%;
	float: left;
	display: inline;
	padding-top: 40px;

}

.photo2 {
	float: right;
	width: 20%;
	padding-top: 20px;
	padding-right: 61.5px;
	margin-right: 10px;
}

.pfloat1 {
	float: left;
	width: 18%;
	margin-left: 0;
	margin-right: 0;
}
.pfloat {
	float: right;
	width: 74%;
	margin-left: 1%;
	margin-right: 3%;
	padding-left: 0%;
}




#images {
	margin: auto;
	width: 1400px;


}

#figures {
	text-align: center;
}

#blogimg {
	width: 20%;
	display: block;
	margin: auto;
	margin: 1em auto;
}
